.para {
    background-color: #F44336;
    color: #FFFFFE;
    height: 85px;
    padding: 10px;
}



.para1 {
   background-color: #009688;
   color: #FFFFFE;
   height: 85px;
   padding: 10px;
}

.para2 {
  background-color: #FFEB3B;  
  color: #FFFFFE;
  height: 85px;
  padding: 10px;
}

.para4 {
  background-color: #2196F3;
  color: #FFFFFE;
  margin-top: 25px;
  padding: 10px;
}