.para1 {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin-left: 32.5%;
}

.input {
    padding: 5px 68px 0 0px;
}

i.fa-solid.fa-user {
    padding: 0 10px 0 15px;
}

.para2 {
    border: 2px solid #DDD;
}

p {
    margin: 0 !important;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.para {
    margin-top: 13px;
}


.para6 {
    display: flex;
    justify-content: space-evenly;
    width: 37.5%;
    margin-left: 32%;
}

.input {
    padding: 5px 68px 0 0px;
}

i.fa-solid.fa-user {
    padding: 0 10px 0 15px;
}


.email1 {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin-left: 32.5%;
}

p.email {
    padding: 0 15px;
}

.fa-solid{
    padding: 0 10px 0 14px;
}

p.Address {
    padding: 0 7px;
}

.fa-house{
    padding: 0 10px 0 12px;
}

p.city {
    padding: 0px 24px;
}

.para7 {
    display: flex;
    width: 40%;
    margin-left: 30%;
}

.check {
    padding-left: 10%;
}

.para7 {
    display: flex;
    width: 40%;
    margin-left: 30%;
    margin-top: 21px;
}

.btn {
    margin-left: 43.5%;
}

